body, html {
  height: 100%;
}

* {
  box-sizing:border-box;
}

.bg-img {
  background-image: url("C:\Angular\seriesguide\src\assets\images\web.jpg");
  height: 2000px;
  background-position:initial;
  background-repeat: no-repeat;
  background-size:cover;
  position:relative;
}

.foodbox 
{
  padding: 10px 10px;
} 
.foodbox img
{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}
.foodbox h1 
{
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}
.buybtn
{

  color: #000;
  background-color: var(--primary-color);
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}