<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-size: 40px;" href="#"> Series Guide </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" style="font-size:20px" >
                    <a class="nav-link active" href="#">Home
                    </a>
                </li>
               
           <!--    <li class="nav-item" style="font-size:20px">
                    <a class="nav-link" routerLink="./genres" > Back </a>
                </li>
            -->
            </ul>
            <form class="d-flex">
                <ul>
                    <li class="nav-item" style="font-size:20px">
                        <button class="btn btn-info" routerLink="./login"> Logout </button>
                    <!--    <a class="nav-link" routerLink="./login"> Logout </a> -->
                    </li>
                </ul>
                  </form>
        </div>
    </div>
</nav>
<div class="bg-img">
    <h1 align="center" style="color:cornflowerblue"> Action Dramas </h1>
        <div class="row offset-md-1" style="margin-top: 4px;">
            <div class="col-md-3" *ngFor="let fd of adData" style="margin-top: 10px;">
                <div class="foodbox mt-3 mb-3">
                    <img src="{{fd.img}}" style="width: 250px; height: 200px;">
                    <div  class = "card" style="width: 250px; height: 250px;">
                    <h1>{{fd.Title}}</h1>
                    <p>Year of Release: {{fd.Year}}</p>
                    <p>No.of Episodes : {{fd.episodes}}</p>
                    <p>Starring: {{fd.cast}}</p>
                    <a class="btn btn-info" [routerLink]="['/action3',fd.id]"> View &nbsp; </a>
                </div>
            </div>
        </div>
    </div>
    </div>