<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-6" *ngIf="adData">
            <img src="{{adData[0].img}}" width="100%"/>
            <h1 >{{adData[0].Title}}</h1>
            <h4>Year of Realease: {{adData[0].Year}}</h4>
            <h4>No.of Episodes: {{adData[0].episodes}}</h4>
            <h4>Available at: {{adData[0].available}}</h4>
            <h5> Description: </h5>
            <p> {{adData[0].description}}</p>
        </div> 


    </div>

</div>
